### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### R ###
.Rhistory

### Project ###
#analyse.html
*.html
analyse_files/
.Rproj.user

# temporary folder
lib/tmp_matrix
